.glow-container {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  width: 200vw;
  height: 200vh;
  overflow: hidden;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  transition: opacity 0.3s ease;

  .glow {
    background: linear-gradient(to left, white 0, black 80%);
    /* background: radial-gradient(circle at 20% 20%, white 5%, transparent 50%),
      radial-gradient(circle at 80% 80%, white 1%, transparent 50%), black; */
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    scale: 1.5;

    /* opacity: 0.8; */
    transform-origin: center;
    animation: spin 20s linear infinite;
  }
}

.blur {
  pointer-events: none;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: transparent;
  z-index: 1;
  backdrop-filter: blur(20px);

  transition: opacity 0.3s ease;
}

@keyframes spin {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
