.menu-wrapper {
  position: fixed;
  pointer-events: none;
  height: 100lvh;
  bottom: 0;
  z-index: 2;
  transition: opacity 0.2s ease;

  .menu {
    position: absolute;
    width: 100vw;
    height: 101%;
    transform: translate(0, 100%);
    background-color: rgba(30, 30, 30);
    transition: transform 0.3s ease, border-radius 0.5s ease;
    pointer-events: all;
    border-top-left-radius: 20vmax;
    border-top-right-radius: 20vmax;

    overflow: auto;

    &.open {
      border-radius: 0;
      transform: translate(0, 0);
    }

    .panel {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-block: 5rem;
      transition: opacity 0.5s ease;
      gap: 3rem;
      /* padding-bottom: 25vh; */
      padding-bottom: 0;

      .cover {
        width: 100%;
        height: 120px;
        background: linear-gradient(to top, rgba(30, 30, 30) 90%, transparent);
        position: sticky;
        bottom: 0;
      }

      section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      h1,
      h2 {
        font-size: 1.5rem;
        color: rgb(150, 150, 150);
        margin-bottom: 1rem;
        user-select: none;
      }

      h2 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }

      h5 {
        color: rgb(150, 150, 150);
        margin-bottom: 1rem;
      }

      .hide-button {
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: none;
        background-color: rgb(50, 50, 50);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          width: 70%;
          height: 70%;
          transition: opacity 0.2s ease;

          path {
            fill: rgba(150, 150, 150);
          }
        }
      }

      #filters {
        width: 85%;
        max-width: 800px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .filter {
          display: inline-block;
          margin: 0.2rem;
          padding: 0.5rem 1.5rem;
          background-color: rgba(150, 150, 150);
          color: rgb(50, 50, 50);
          font-size: 1.5rem;
          font-weight: 600;
          border-radius: 5px;
          cursor: pointer;
          transition: opacity 0.1s ease;
          user-select: none;
          text-align: center;

          &.off {
            opacity: 0.3;
          }

          * {
            pointer-events: none;
          }
        }
      }

      .info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* gap: 3rem; */
        border-top: 2px solid rgba(150, 150, 150);
        /* margin-inline: 1rem; */
        width: fit-content;
        max-width: 80%;
        padding: 1rem 2rem;

        .block {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 1rem;
        }

        #duration {
          font-size: 2rem;
          font-weight: 600;
          /* margin-bottom: 2rem; */
        }

        #progress {
          font-size: 1.5rem;
          width: 6rem;
          display: flex;
          justify-content: center;
          align-items: center;
          aspect-ratio: 1 / 1;
          outline: 5px solid rgba(150, 150, 150);
          place-content: center;
          padding: 0.7rem;
          margin: 0.5rem;
          border-radius: 50%;
          font-weight: 600;
        }
      }
    }
  }

  .bar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: min(85vw, 600px);
    height: 75px;
    border-radius: 100px;
    margin-block: 1rem;
    background-color: rgb(60, 60, 60);
  }

  .gradient {
    position: absolute;
    width: 100%;
    height: 15vh;
    bottom: -10px;
    background: linear-gradient(to top, rgb(15, 15, 15), transparent);
    transition: opacity 0.3s ease;
    visibility: hidden;
  }

  .settings-button {
    background-color: rgb(60, 60, 60);
    cursor: pointer;
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    pointer-events: all;
    bottom: 0;
    right: 0;
    transform: translateX(-50%);
    margin-block: 2rem;
    transition: opacity 0.2s ease, translate 0.2s ease;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 60%;
      height: 60%;

      polygon,
      path {
        fill: rgba(150, 150, 150);
      }
    }

    &:hover {
      opacity: 1;
    }

    &.center {
      translate: 0;
    }
  }
}

@media screen and (max-width: 1400px) {
  .menu-wrapper {
    .settings-button {
      margin-block: 1.5rem;
      right: 50%;
      transform: translateX(50%);
    }

    .gradient {
      visibility: visible;
    }
  }
}
