.menu-wrapper {
  position: fixed;
  pointer-events: none;
  height: 100svh;
  bottom: 0;
  z-index: 2;
  transition: opacity 0.3s ease;

  .menu {
    position: absolute;
    width: 100vw;
    height: 101%;
    transform: translate(0, 100%);
    background-color: rgba(30, 30, 30);
    transition: transform 0.3s ease, border-radius 0.5s ease;
    pointer-events: all;
    border-top-left-radius: 20vmax;
    border-top-right-radius: 20vmax;

    &.open {
      border-radius: 0;
      transform: translate(0, 0);
    }

    .panel {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-block: 5rem;
      transition: opacity 0.5s ease;

      h1 {
        font-size: 1.5rem;
        color: rgb(150, 150, 150);
        margin-bottom: 1rem;
      }

      .hide-button {
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: none;
        background-color: rgb(50, 50, 50);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          width: 70%;
          height: 70%;
          transition: opacity 0.2s ease;

          path {
            fill: rgba(150, 150, 150);
          }
        }
      }
    }
  }

  .bar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    /* translate: -50%; */
    width: 100%;
    max-width: min(85vw, 600px);
    height: 75px;
    border-radius: 100px;
    margin-block: 1rem;
    background-color: rgb(60, 60, 60);
  }

  .gradient {
    position: absolute;
    width: 100%;
    height: 15vh;
    bottom: -10px;
    background: linear-gradient(to top, rgb(15, 15, 15), transparent);
    transition: opacity 0.3s ease;
  }

  .settings-button,
  #back-button {
    background-color: rgb(60, 60, 60);
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    pointer-events: all;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    translate: 3rem;
    margin-block: 2rem;
    transition: opacity 0.2s ease, translate 0.2s ease;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 60%;
      height: 60%;

      polygon,
      path {
        fill: rgba(150, 150, 150);
      }
    }

    &:hover {
      opacity: 1;
    }

    &.center {
      translate: 0;
    }
  }

  #back-button {
    translate: -3rem;

    svg {
      width: 45%;
      height: 45%;
      transform: translate(-2px);
    }
  }
}

@media screen and (max-width: 800px) {
  .menu-wrapper {
    .settings-button,
    #back-button {
      margin-block: 1.5rem;
    }
  }
}
