:root {
  --title-width: 320px;
  --small-screen: 800px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;

  -webkit-tap-highlight-color: transparent;
}

* {
  scrollbar-width: auto; /* Firefox */
  scrollbar-color: #444 #111; /* Firefox */
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(15, 15, 15);
  width: 100vw;
  height: 100dvh;

  overflow: hidden;

  main {
    overflow: auto;
    scrollbar-gutter: stable;
    height: 100%;

    display: flex;
    justify-content: center;
  }
}

.background {
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  filter: grayscale(1);
  filter: opacity(0.1) grayscale(1);
}

.hidden {
  pointer-events: none !important;
  opacity: 0 !important;
}

.inactive {
  display: none !important;
}

main {
  scroll-behavior: auto;
}

.title-list-container {
  width: 100%;
  height: fit-content;
  padding: 30px 10px;
  margin-top: 1rem;
  margin-bottom: 20svh;

  .list {
    width: 100%;
    max-width: 1200px;
    list-style: none;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    row-gap: 30px;

    li {
      position: relative;

      .year-label {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1rem;
        transform: translateY(-100%);
        color: rgba(255, 255, 255, 0.3);
        padding: 0.1rem 0.2rem;
        pointer-events: none;
        user-select: none;
        z-index: 0;
      }

      .highlight {
        position: absolute;
        width: 100%;
        height: 100%;
        outline: white 3px solid;
        transition: opacity 0.8s ease, outline 0.7s ease;
        filter: blur(1px);
        /* opacity: 0; */
        pointer-events: none;
        animation: bounce 2s infinite ease-in-out;
      }

      .poster-wrapper {
        position: relative;
        width: 100%;
        aspect-ratio: 2 / 3;
      }

      .poster {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
        cursor: pointer;
        transition: scale 0.1s ease, outline-color 1s ease;
        -webkit-user-drag: none;
        /* scale: 0.99; */
        transition: filter 0.1s ease;

        &.fade {
          filter: grayscale(1);
        }
      }

      .lock {
        width: 100%;
        position: absolute;
        inset: 0;
        background-color: rgba(30, 30, 30);
        z-index: 0;
        pointer-events: all;
        transition: opacity 0.3s ease;
        scale: 1.02;

        display: flex;
        justify-content: center;
        align-items: center;

        &.next {
          pointer-events: none;
        }

        svg {
          text-align: center;
          color: rgba(255, 255, 255, 0.4);
          font-weight: 100;
          width: 50%;
          transition: opacity 0.5s ease;
        }
      }

      svg {
        position: absolute;
        right: 0;
        top: 0;
        width: fit-content;
        height: 6%;
        margin: 5%;
        background-color: rgb(15, 15, 15);
        border-radius: 50%;
        padding: 1.5%;
        z-index: 1;

        path {
          stroke: white;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .title-list-container {
    padding: 30px;
    margin-top: 2rem;

    .list {
      gap: 15px;
      row-gap: 30px;
      grid-template-columns: repeat(4, 1fr);

      li {
        .year-label {
          font-size: 1.1rem;
          padding: 0.2rem 0.3rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .title-list-container {
    .list {
      padding-inline: 0;
      gap: 20px;
      row-gap: 40px;
      grid-template-columns: repeat(5, 1fr);

      li {
        .year-label {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@keyframes bounce {
  0%,
  100% {
    outline: rgba(255, 255, 255, 0.5) 2px solid;
    /* opacity: 1; */
  }
  50% {
    outline: white 2px solid;
    /* opacity: 0.4; */
  }
}
