:root {
  --title-width: 320px;
  --small-screen: 800px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;

  -webkit-tap-highlight-color: transparent;
}

* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #444 #111; /* Firefox */
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(10, 10, 10);
  width: 100vw;
  height: 100dvh;

  overflow: hidden;

  main {
    overflow: auto;
    scrollbar-gutter: stable;
    height: 100%;

    display: flex;
    justify-content: center;
  }
}

.background {
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  filter: grayscale(1);
  filter: opacity(0.1) grayscale(1);
}

.hidden {
  pointer-events: none;
  opacity: 0;
}

.title-list-container {
  width: 100%;
  height: fit-content;
  padding: 20px;

  .list {
    width: 100%;
    max-width: 500px;
    list-style: none;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    row-gap: 40px;

    .poster {
      width: 100%;
      border-radius: 10px;
      aspect-ratio: 2 / 3;
      object-fit: cover;
      user-select: none;
      background-color: black;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      transition: scale 0.1s ease, outline-color 1s ease;
      filter: contrast(1.03) saturate(1.03) brightness(1.1);

      /* &:hover {
        scale: 1.2;
      } */

      &:active {
        scale: 0.95;
      }
    }

    .number {
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 600px) {
  .title-list-container {
    padding: 80px;

    .list {
      max-width: min(75vw, 1200px);
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 40px;
      row-gap: 80px;
    }
  }
}

@media screen and (min-width: 900px) {
  .title-list-container {
    padding: 120px;

    .list {
      max-width: min(75vw, 1200px);
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      gap: 60px;
      row-gap: 120px;
    }
  }
}
