:root {
  --title-width: 320px;
  --small-screen: 800px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;

  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(30, 30, 30);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Scrollbar track (background) */
*::-webkit-scrollbar {
  width: 6px; /* width of vertical scrollbar */
  height: 6px; /* height of horizontal scrollbar */
}

/* Scrollbar track */
*::-webkit-scrollbar-track {
  background: var(--theme-background, rgba(48, 48, 48, 0.2));
}

/* Scrollbar thumb (the draggable part) */
*::-webkit-scrollbar-thumb {
  background-color: var(--theme-accent, rgba(100, 100, 100, 0.2));
  mix-blend-mode: color;
}

/* On hover */
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme-accent-hover, rgba(130, 130, 130, 0.4));
}

.background {
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  filter: grayscale(1);
  filter: opacity(0.1) grayscale(1);
}

.hidden {
  pointer-events: none;
  opacity: 0;
}

.noscroll {
  overflow: hidden;
}

.title-list-container {
  width: 100%;
  max-width: 2000px;
  padding: 10px;

  .list {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;

    .poster {
      width: 100%;
      height: 100%;
      user-select: none;
      background-color: black;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      transition: scale 0.1s ease, outline-color 1s ease;

      &:active {
        scale: 0.95;
      }
    }

    .number {
      font-size: 2rem;
    }
  }
}

.overview.noscroll {
  overflow: hidden;
}

.overview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  /* background: rgba(20, 20, 20, 0.6); */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* backdrop-filter: blur(30px); */
  transition: opacity 0.3s ease;

  overflow: auto;
  cursor: pointer;

  .container {
    top: 0;
    max-width: 400px;
    margin-block: auto;
    padding: 1.5rem;
    overflow: visible;

    .poster {
      width: 100%;

      height: fit-content;
      max-width: 400px;
      user-select: none;
    }

    .info {
      padding: 0.5rem;
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      height: fit-content;
      cursor: auto;
      transition: opacity 0.2s ease;

      .title {
        width: 100%;
        font-weight: 500;
        font-size: 1.7rem;
        margin-bottom: 1.5rem;
        text-wrap: pretty;

        @media screen and (min-width: 400px) {
          font-size: 2rem;
        }
      }

      .details {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        * {
          font-weight: 200;
          width: 100%;
          font-size: 1.2rem;
          color: rgb(220, 220, 220, 0.9);

          @media screen and (min-width: 400px) {
            font-size: 1.3rem;
          }
        }

        .section {
          color: white;
        }
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .overview {
    max-height: 100vh;
    /* overflow: hidden; */

    .container {
      display: flex;
      flex-direction: row;
      align-items: self-start;
      /* height: 100%; */
      max-height: 2000px;
      max-width: min(1000px, 100vw);
      gap: 1.5rem;

      .poster {
        width: 40%;
        max-height: 100%;
      }

      .info {
        min-width: 250px;

        .title {
          font-size: 2.5rem;
        }

        .details {
          * {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 870px) {
  .title-list-container {
    padding: 12px;

    .list {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 12px;
    }
  }

  .overview {
    .container {
      display: flex;
      flex-direction: row;
      align-items: self-start;
      max-height: 2000px;
      max-width: min(1000px, 100vw);
      gap: 1.5rem;

      .poster {
        width: 40%;
      }

      .info {
        min-width: 250px;

        .title {
          font-size: 2.5rem;
        }

        .details {
          * {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

.glow-container {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  position: fixed;
  width: 200vw;
  height: 200vh;
  overflow: hidden;
  /* background: white; */

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 0;
  pointer-events: none;
  backdrop-filter: blur(10px);

  transition: opacity 0.3s ease;
  filter: blur(4vmax);

  .glow {
    position: relative;
    width: 100vw;
    height: 100vh;
    filter: blur(4vmax) contrast(1.2) brightness(0.8);
    scale: 1.5;

    opacity: 0.6;
    background: white;
    transform-origin: center;
  }
}

.circle {
  position: absolute;
  width: clamp(200px, 50vmax, 600px);
  height: clamp(200px, 50vmax, 600px);
  background: red;
  border-radius: 50%;
  top: 50%;
  left: 50%;
}

.circle:nth-child(1) {
  translate: -50% -50%;
  transform-origin: center;
  animation: orbit 20s linear infinite;
}

.circle:nth-child(2) {
  width: clamp(150px, 30vmax, 500px);
  height: clamp(150px, 30vmax, 500px);
  translate: -50% -50%;
  transform-origin: center;
  animation: orbit2 20s linear infinite;
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(40vmin);
  }
  100% {
    transform: rotate(360deg) translateX(40vmin);
  }
}

@keyframes orbit2 {
  0% {
    transform: rotate(0deg) translateX(-40vmin);
  }
  100% {
    transform: rotate(360deg) translateX(-40vmin);
  }
}
